process {
    executor = 'local'

    withName:CLUSTER {
        container = 'amynjaaye/cd-hit:4.8.1'
    }

    withName:MHC1 {
        container = 'amynjaaye/iedb_mchi:3.1.6-1'
    }

    withName:MHC2 {
        container = 'amynjaaye/iedb_mhcii:3.1.12'
    }

    withName:ANTIGEN {
        container = 'amynjaaye/iapred:1.0.0'
    }

    withName:FILTER {
        container = 'amynjaaye/iapred:1.0.0'
    }

    withName:LOCALIZE {
        container = 'amynjaaye/phobius:1.0.0'
    }

    withName:BCELL {
        container = 'amynjaaye/iedb_bcell:3.1'
    }
}

profiles {
    docker {
        docker.enabled          = true
        docker.userEmulation    = true
    }
}

docker.registry ='docker.io'
